.CP-form{
    display: grid;
    grid-template-columns:  1fr;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;

    #js_CreatePage{
        display: grid;
        grid-template-columns: 1fr 1fr;

        #FormFill{
            display: grid;
            grid-template-rows: 3rem 4rem 2rem 3rem 4rem 1rem;
            grid-auto-flow: column;
            row-gap: 0.5rem;
            //grid-template-rows: repeat(7, 1fr);
            justify-content: center;
            position: relative;
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 100%;

                label{
                    color: $Logo_Blue;
                    display: inline-block;
                    font-size: 1.5rem;
                    font-weight: bold;
                    left: 1rem;
                    position: relative;
                    padding: 10px;
                // top: 2.5rem;
                    width: 100%;
                    
                }
                input{
                    border: 1px solid $Background_Color;
                    border-radius:5px;
                    display: inline-block;
                    font-size: 1rem;
                    padding-left: 10px;
                    position: relative;
                // top: 2rem;
                    width: 50%;
                    left: 1rem;
                }
                input:focus{
                    border: 1px solid $Logo_Blue;
                }

            
                #urlAppend{
                    display: block;
                    color: $Logo_Blue;
                    font-size: .75rem;
                    font-weight: bold;
                    margin-left: -5px;
                    padding-left: 5px;
                    position: relative;
                    //top: 2rem;
                    width: auto;
                    left: 1rem;

                }
                #js-PageType{
                    padding: 10px;
                    position: relative;
                    left: 1rem;
                    //top: 3rem;
                    width: 20rem;


                }
        }   //End form fill


        .Pro_checkBoxes{
            //background-color: aqua;

            H3{
                color: $Logo_Blue;
                display: inline-block;
                font-size: 1.5rem;
                font-weight: bold;
                left: 1rem;
                position: relative;
                padding: 10px;
            // top: 2.5rem;
                width: 100%;
            }
                
           
            ////    ROUNDED SLIDERS 
            .switch {
                top: 1rem;
                left: 1rem ;
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
              }
              
              .switch input { 
                opacity: 0;
                width: 0;
                height: 0;
              }
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              input:checked + .slider {
                background-color: $Logo_Blue;
              }
              
              input:focus + .slider {
                box-shadow: 0 0 1px $Logo_Blue;
              }
              
              input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
              /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                    border-radius: 50%;
                }

                p{
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
              
              ///////////////////////////////////////////////////////////
    }


     }// END OF .js_CreatePage FORM

        #js_UploadImg{
            background-color: green;
            display: flex;
            align-content: flex-start;
            position: relative;


        }



    }// END OF .CP-form FORM

#js-CreatePageBTN{ //// HIDDEN SUBMIT FORM BUTTON
    display: none;

}
