
#page{
    display: grid;
    width: 100vw;
    height: 100vh;
    
    grid-template-columns: 5rem auto 5rem;
    background-color: aquamarine;
    transition: 1s grid-template-columns;

        #sideBarL{
            //width: 10rem;
            //height: 100%;
            background-color: $SideBar_Color;

            .logo{
                height: 3rem;
            }

            .projectBtn{
                position: relative;
                width: 3.5rem;
                left:0.75rem;
                top: 10vh;
            }

            .settingsBtn{
                position: relative;
                width: 3.5rem;
                left:0.75rem;
                top: 80vh;
            }
        }
        #PicBar{
            background-color: $SideBar_Color;
           // width: 3rem;
           // height: 100%;
                       
        }
        #pageBdy{
          //width: 3rem;
           // height: 100%;
            background-color: $Background_Color;

            #topBar{
                width: 100%;
                height: 3rem;
                background-color: $TopBar_Color;
            }
        }


}