
#page{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 5rem auto 5rem;
    
    // Modal popup window start{
    // .JS_Project_modal{
    //     display: none; //between flex and none
    //     opacity: 0%;
    //     transition: opacity 1s;
//
    // }


                   ////////// SCROLL BAR //////////////////
               /* width */
               ::-webkit-scrollbar {
                width: 20px;
            }

           /* Track */
            ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey; 
                border-radius: 10px;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: rgb(45, 45, 45); 
                border-radius: 10px;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background:  rgb(55, 55, 55); 
            }
            ////////// SCROLL BAR //////////////////



    .JS_Project_modal{/////////Project pop up Moddle
        display: flex; //between flex and none
        align-items: center;
        opacity: 0%;
        position: fixed;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        visibility: hidden;
        z-index: 1;
        transition:opacity 0.3s, visibility 0.3s;

        &.JS_Project_modal_OPN{
            visibility: visible;
            opacity: 100%;
        }

        

            

            .Project_pop{
                background-color: rgb(255, 255, 255);
                border-radius: 0.5rem;
                box-shadow: 5px 15px 20px #2b2b2b;
                display: grid;  
                grid-template-columns: 5rem auto 10rem;
                height: 60vh;
                width: 60vw;


                    .Modal-one{  //Div One
                       height: 60vh;

                        .Project_logo{
                           
                            position: relative;
                            //left: 0.2rem;
                            width: 4.5rem;
                        }
                        span{
                            border: 1px solid $Logo_Blue;
                            border-radius: 1rem;
                            position: absolute;
                            margin-top: 7rem;
                            left: 0.4rem;
                            width: 4rem;
                            height: 6px;
                            background-color: $Logo_Green;

                        }

                        


                     }   //Div One



                     .Modal-two{//Div Two
                         //background-color: brown;

                            



                     }//Div Two


                     .Modal-three{//Div Three
                        padding: 0.5rem;
                       // background-color: rgb(52, 165, 42);

                        #sub-js-CreatePageBTN{
                            border: 1px solid $Logo_Green;
                            border-radius: 1rem;
                            text-align: center;
                            color: white;
                            background-color: $Logo_Blue;
                            width: 9rem;
                            height: 2rem;
                            position: sticky;
                            cursor: pointer;
                            top: 70vh;
                       }
                       #sub-js-CreatePageBTN:hover{
                        background-color: rgb(0, 23, 128);
                        color: white;
                    
                        }

                        #Close_Btn{ 
                            border: 1px solid $Logo_Blue;
                            border-radius: 1rem;
                            text-align: center;
                            color: white;
                            background-color: $Logo_Red;
                            width: 9rem;
                            height: 2rem;
                            position: sticky;
                            cursor: pointer;
                            top: 75vh;
                        }
                        #Close_Btn:hover{
                            background-color: rgb(119, 15, 15);
                            color: white;

                        }
                    }//Div Three





                


            }

    }
// Modal popup window end


    .js-ProjectBtn-Open{
        display: none;

    }

        #sideBarL{
            //width: 10rem;
            //height: 100%;
            background-color: $SideBar_Color;

            .logo{
                height: 3rem;
            }

            .projectBtn{
                position: relative;
                width: 60px;
                height: 60px;
                left:0.7rem;
                top: 10vh;
            }

            .projectBtn_tip{
                //background-color: $SideBar_Color;
                color: #B3B3B3;
                left: 4rem;
                position: relative;
                text-align: center;
                top: -70px;
                width: 10rem;
                visibility: hidden;
                transition-property:visibility;
                transition-duration: 0.2s;
                transition-delay: 1s;

              
            }
            .projectBtn:hover .projectBtn_tip{
                visibility: visible;

              
            }
            .projectBtn_tip p{
                position: relative;
                top: -55px;

            }

            .settingsBtn{
                position: relative;
                width: 3.5rem;
                left:0.75rem;
                top: 80vh;
            }
        }
        #PicBar{
            background-color: $SideBar_Color;
           // width: 3rem;
           // height: 100%;
                       
        }
        #pageBdy{
            
          //width: 3rem;
           // height: 100%;
            background-color: $Background_Color;

            #topBar{
            background-color: $TopBar_Color;
               display: grid;
               grid-template-columns: auto 15rem;
               position: relative;
               width: 100%;
               height: 3rem;
               

                #centerTitle{
                    display: inline;
                    margin-left: 15rem;
                    
                         p{
                            padding: 0.5rem;
                            text-align: center;
                            color: $TopBar_Color_Txt;
                            
                        }


                }
                #userName{
                   display: inline;
                    
                         p{
                            padding: 0.5rem;
                            text-align: center;
                            color: $TopBar_Color_Txt;
                            
                        }
                }

              

              
            }

            #ProjectsLists{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                column-gap: 2rem;
                row-gap: 2rem;
                justify-items: center;
                overflow-x: hidden;
                margin-top: 2rem;
                position: relative;
                width: 90vw;
                height: 90vh;
              





                    .Home{
                        display: none;
                        
                    }

                    
                        .Game{
                            
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: repeat(3, 1fr);
                            justify-content: center;
                            width: 300px;
                            height: 300px;

                            .PosterImg{
                                margin-top: 21px;
                                margin-left: 52px;
                                text-align: center;
                                width: 198px;
                                height: 110px;
                                overflow: hidden;
                                cursor: pointer;
                                p{
                                    display: none;
                                }

                                img{
                                    display: block;
                                    overflow: hidden;
                                    text-align: center;
                                    width: 198px;
                                    height: 110px;

                                }
                            }



                            a{
                                position: relative;
                                padding: 20px;
                                //margin-top: -70px;
                                display: flex;
                                justify-content: center;
                                height: auto;
                                width: 100%;
                                font-weight: bold;
                                font-size: 25px;
                                color: $Logo_Green;
                                text-decoration: none;
                            }

                            lable{
                                //margin-top: 10px;
                                font-weight: bold;
                                color: $Logo_Blue;
                                display: flex;
                                justify-content: center;
                                position: relative;
                                font-size: 1rem;

                            }
                        }
                        .Movie{
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: repeat(3, 1fr);
                            justify-content: center;
                            width: 300px;
                            height: 300px;
                            background-size: 300px 200px;

                            .PosterImg{
                                border-radius: 20px;
                                display: block;
                                margin-top: 37px;
                                margin-left: 57px;
                                overflow: hidden;
                                text-align: center;
                                width: 185px;
                                height: 125px;
                                cursor: pointer;

                                p{
                                    display: none;
                                }

                                img{
                                    display: block;
                                    overflow: hidden;
                                    text-align: center;
                                    width: 185px;
                                    height: 125px;

                                }
                                
                            }


                            a{
                                position: relative;
                                padding: 20px;
                                display: flex;
                                justify-content: center;
                                height: auto;
                                width: 100%;
                                font-weight: bold;
                                font-size: 25px;
                                color: $Logo_Green;
                                text-decoration: none;
                            }

                            lable{
                               // margin-top: 10px;
                                font-weight: bold;
                                color: $Logo_Blue;
                                display: flex;
                                justify-content: center;
                                position: relative;
                                font-size: 1rem;

                            }
                        }

                       
    
                    
            }

          
        }


}